.shaded-area *, btn {
    color: #fff;
}

.btn-primary {
    background-color: rgb(17, 17, 17);
}

.shaded-area {
    background-color: rgb(17, 17, 17);
    border-radius: 3px;
}

.shadow-card {
    box-shadow: 5px 10px #ccc;
}

.centered-text {
    text-align: center;
}

.padded-card {
    padding: 10px;
}

.clear-background {
    background: none;
}

.page-header {
    /*background-image: url("https://lakkie.net/res/plug.svg");*/
    padding-bottom: 75px;
}

.intended-text {
     margin-left: 15px;
}

.size-image-cap {
    max-width: 100%;
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}