.shaded-area *,
btn {
    color: #fff;
}

.btn-primary {
    background-color: rgb(17, 17, 17);
}

.shaded-area {
    background-color: rgb(17, 17, 17);
    border-radius: 3px;
}

.shadow-card {
    box-shadow: 5px 10px #ccc;
}

.centered-text {
    text-align: center;
}

.padded-card {
    padding: 10px;
}

.clear-background {
    background: none;
}

.page-header {
    /*background-image: url("https://lakkie.net/res/plug.svg");*/
    padding-bottom: 10px;
}

.intended-text {
    margin-left: 15px;
}

.size-image-cap {
    max-width: 100%;
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spacing-card {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    padding-right: 16px;
}

.project-link-button {
    position: absolute;
    bottom: 8px;
    left: 32px;
}

.selected-button {
    background-color: rgb(17, 17, 17);
    color: white;
}

.nav-row-fix {
    width: 100%;
}

img {
    min-width: 200px;
}
